<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit City</title>
  <style>
    #message {
      color: green;
    }
    table {
      border: 1px solid black;
    }
    a {
      color: white;
      border-radius: 3px;
      text-decoration: none;
      background-color: forestgreen;
    }
    form {
      margin: auto;
    }
    .error-message {
      color: red;
    }
  </style>
</head>
<body>
<h1>Edit City</h1>
<p>
  <a href="/com/example/springboot/service/product/list">City list</a>
</p>
<th:block th:if="${message}">
  <p th:text="${message}"></p>
</th:block>
<form th:action="@{/city/update}" th:object="${city}" method="post">
  <input th:type="hidden" name="id" th:field="*{id}">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{name}"/></td>
      <td th:if="${#fields.hasErrors('name')}">
        <span class="error-message" th:errors="*{name}"></span>
      </td>
    </tr>
    <tr>
      <td>Area:</td>
      <td><input type="text" th:field="*{area}"/></td>
      <td th:if="${#fields.hasErrors('area')}">
        <span class="error-message" th:errors="*{area}"></span>
      </td>
    </tr>
    <tr>
      <td>Population:</td>
      <td><input type="text" th:field="*{population}"/></td>
      <td th:if="${#fields.hasErrors('population')}">
        <span class="error-message" th:errors="*{population}"></span>
      </td>
    </tr>
    <tr>
      <td>GDP:</td>
      <td><input type="text" th:field="*{GDP}"/></td>
      <td th:if="${#fields.hasErrors('GDP')}">
        <span class="error-message" th:errors="*{GDP}"></span>
      </td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><textarea th:field="*{description}"></textarea></td>
      <td th:if="${#fields.hasErrors('description')}">
        <span class="error-message" th:errors="*{description}"></span>
      </td>
    </tr>
    <tr>
      <td>Nation:</td>
      <td>
        <select th:field="*{nation}">
          <option th:each="n : ${nations}"
                  th:value="${n.id}"
                  th:text="${n.name}"
                  th:selected="(${city.nation}) and (${n.id} == *{nation.id})">
          </option>
        </select>
      </td>
      <td th:if="${#fields.hasErrors('nation')}">
        <span class="error-message" th:errors="*{nation}"></span>
      </td>
    </tr>
    <tr>
      <td><a href="/city/list">Back</a></td>
      <td><input type="submit" value="Update"></td>
    </tr>
  </table>
</form>
</body>
</html>
