<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>City</title>
  <style>
    #message {
      color: blue;
    }
    table {
      border: 1px solid black;
    }
    td {
      border: 1px solid black;
    }
    th {
      border: 1px solid black;
    }
    div {
        margin: auto;
    }
  </style>
</head>
<body>
<div>
  <h2>City List</h2>
  <h2><a href="/city/create">Add a city</a></h2>
  <th:block th:if="${message}">
    <p id="message" th:text="${message}"></p>
  </th:block>
  <table>
    <tr>
      <th>City</th>
      <th>Nation</th>
      <th colspan="2">Actions</th>
    </tr>
    <tr th:each="city : ${cities}">
      <td><a th:href="@{'/city/details/' + ${city.id}}" th:text="${city.name}"></a></td>
      <td th:if="${city.nation}"><a th:text="${city.nation.name}"></a></td>
      <td th:unless="${city.nation}"></td>
      <td><a th:href="@{'/city/edit/' + ${city.id}}">Edit</a></td>
      <td><a th:href="@{'/city/delete/' + ${city.id}}">Delete</a></td>
  </table>
</div>

</body>
</html>